<div class="about">
  <h1>Summary</h1>
  <p>This is an Angular 4 simple WebApp for add new items to a list, we can order by number by votes.</p>
  <p>The router and SEO are implementing this application.</p>

  <h2>Project specifications.</h2>
  <div class="ui relaxed divided list">
    <div class="item">
      <div class="content">
        <div class="description">Angular 4</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="description">Semantic UI</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="description">SEO implementation for every component</div>
      </div>
    </div>
  </div>

</div>


